*{
	outline: none;
}

body{
	overflow-x: hidden;
}

.navbar-dark .navbar-toggler{
	border:none !important;
	outline: none;
}
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel-indicators{
	top:50%;
	width: fit-content;
	left: initial;
	margin:0;
display: none;
	transform: translate(0, -50%) rotate(90deg);
	    height: fit-content;
}
.carousel-control-prev, .carousel-control-next{
	background-color: #be1d2c;
	width: 40px;
	height: 40px;
	top: initial;
	bottom:30px !important;
	border-radius: 10px;
	z-index: 4;
	opacity: 1 !important;
	border: 2px solid #fff;
}
.carousel-control-next{
	right:20px !important;
}

.carousel-control-prev
{
	right:70px !important;
	left:initial;
}
.carousel-indicators li{
	width: 10px !important;
	height: 10px !important;
	border-radius: 100%;
}

.btn{
	border-radius: 10px;
}
main{
	/*background: url(../img/bg.jpg);*/
	background-size:cover;
	background-position: top;
}
@media only screen and (max-width: 767px) 
{
	main{
	/*background: url(../img/bg.jpg);*/
	background-size:100% !important;
	background-position: top;
}
	header nav img{
		height: 50px !important;
	}
}


.bg-bottom{
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 2
}

.bg-top{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2
}
footer, footer a{
	color:#fff;
	font-size: 12px;
}
footer, footer a:hover{
	color:#eee;

}
footer{
	background: #bf1e2e;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.2);
}


.blue-gradient-rgba {
    background: linear-gradient(40deg, rgba(69,202,252,0.9), rgba(48,63,159,0.9)) !important;
}

.purple-gradient-rgba {
    background: linear-gradient(40deg, rgba(255,110,196,0.9), rgba(120,115,245,0.9)) !important;
}

.peach-gradient-rgba {
    background: linear-gradient(40deg, rgba(255,216,111,0.9), rgba(252,98,98,0.9)) !important;
}

.aqua-gradient-rgba {
    background: linear-gradient(40deg, rgba(32,150,255,0.9), rgba(5,255,163,0.9)) !important;
}

.gradient-card{
	box-shadow: 5px 5px #ffffffbd;
}
.gradient-card a:hover{
	text-decoration: none;
}

.owl-stage{
	padding: 10px 0px;
}

.owl-carousel .item img{
	border-radius: 20px;
	box-shadow: 5px 5px #bf1e2e;
	    width: 95% !important;
	        height: 220px;
    object-fit: cover;
}

.owl-nav{
	display: none;
}
.gallery {
	z-index: 3;
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; 
    overflow: hidden;
    }

.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; 
}

.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); 
overflow: hidden;
border-radius: 20px;
}

.gallery .animation .img-fluid{
	transition: all .2s linear;

}


.gallery .animation:before{
	    content: '';
    background: #00000085;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1);
    transition: all .3s linear;
}
.gallery .animation:hover:before{
	transform: translate(-50%,-50%) scale(2);
    opacity: 1;
    
}

.gallery .animation .img-title{
	    position: absolute;
    display: block !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.1);
    font-weight: 700;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 20px;
    opacity: 0;
 transition: all 0.3s linear;
color:#fff;
text-transform: uppercase;
}

.gallery .animation:hover .img-title{
    opacity: 1;
transform: translate(-50%,-50%) scale(1);
}


@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}


.nav-item a.nav-link{
	    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 2px solid transparent;
    padding: 0 5px !important;
    font-weight: 700 !important;
}


.nav-item a.nav-link:hover{
	border-bottom:2px solid #bf1e2e;
	width: fit-content;
}

.nav-item.active a.nav-link{
	border-bottom:2px solid #bf1e2e;
	width: fit-content;
}


.btn-bilge{
	background: #bf1e2e;
	color:white;
}

.btn-bilge:hover{
	background: #991825;
	color:white;
}

.header-social{
	display: block;
	float:right;
	width: fit-content;
}

.header-social a i{
	width: 40px;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	text-align: center;
	color:#fff;
	}

	.header-social a i:hover{
	color:#bf1e2e;
	background:#fff;
	}

	

	.header-buttons{
		float: left;
		width: fit-content;
		display: block;
	}

		.header-buttons a{
		height: 40px;
		line-height: 40px;
		text-align: center;
		background:#404041;
		display:block;
		padding: 0 10px;
		color:#fff;
		text-decoration: none;
	}

			.header-buttons a:hover{
		background: #fff;
		color: #404041;
	}
.footer-social a{
	font-size: 16px;
}

.footer-social a:hover{
		text-decoration: none;
	}

.footer-social a i{
	text-align: center;
	line-height: 25px;
	width: 25px;
	border-radius: 5px;
}
	.footer-social a:hover i{
	background: white;
    color: #404041;

}

	.navbar-light .navbar-toggler{
		border:0 !important;
	}


	.navbar{
		padding: 0 1rem !important;
	}

	header{
		background: #fff;
	}

	.marketing .col-lg-3 img.rounded-circle{
		transition: all .2s linear;
	}
	.marketing .col-lg-3:hover img.rounded-circle{
		transform: scale(1.1);
	}

	.marketing .col-lg-3{
		transition: all .2s linear;
		
	}
	.marketing h2{
		font-size: 18px;
	}

	.page-breadcrumb{
		background: #bf1e2e;
	}

	.page-breadcrumb h1{
		text-transform: uppercase;
		font-size: 50px;
	}

	.page-breadcrumb .breadcrumb-detail{
		    display: block;
    text-align: center;
    width: 100%;
    font-size: 18px;
	}

	.page-breadcrumb .breadcrumb-detail a{
		  color:white;
		  text-decoration: none;
	}